* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/***************** FOOTER ****************/

#main_wrapper {
    min-height: 100%;

}

#section_wrapper {
    overflow: auto;
    padding-bottom: 100px;
}

#footer_wrapper {
    padding-top: 25%;
}

#footer {
    background-color: #CBB7A4;
    position: relative;
    height: 170px;
    margin-top: -100px;
    clear: both;
    display: flex;
    justify-content: space-around;
}


.information {
    flex: 1;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}

.infotekst {
    list-style: none;
}

.infotekst a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
}


.social {
    flex: 1;
    padding-left: 60px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}




/********** DESKTOP NAV BAR *************/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    background-color: #CBB7A4;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 3vw;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    position: relative;
    left: 2vw;
}


.menu {
    display: flex;
    justify-content: space-around;
    width: 40%;
    position: absolute;
    left: 55vw;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;

}

.menu li {
    list-style: none;
}

.menuknap {
    display: none;
    color: white;
    font-size: 29px;
    cursor: pointer;
    position: absolute;
    right: 10vw;
}



/********** MOBIL NAV BAR *************/

@media screen and (max-width: 1024px) {
    .menu {
        width: 55%;
        position: absolute;
        left: 40vw;
    }

    .logo {
        color: white;
        letter-spacing: 2px;
        font-size: 30px;
        cursor: pointer;
        font-family: 'Playfair Display', serif;
        position: absolute;
        left: 5vw;
    }

    .logo h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        position: relative;
        left: 1vw;
    }

}

/********** MOBIL NAV BAR SLUT *************/

/*Når menuknappen klikkes skal den tydeligøres (til javascript) */
.menuknap_aktiv {
    transform: translateX(0%);
}

/***************** BANNER ********************/


.banner {
    /*    background-position: center;*/
    width: 100%;
    height: auto;
    height: 83vh;

}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}


@media screen and (max-width: 750px) {
    body {
        overflow-x: hidden;
        /*så du ikke kan scroll til højre og se baren*/
    }

    .menu {
        position: absolute;
        right: 0px;
        height: 83vh;
        top: 13vh;
        background-color: #CBB7A4;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        /*        transition: transform 0.5s ease-in;*/
    }

    .logo h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        position: relative;
        left: 5vw;
    }


    /* menuen usynligøres indtil der klikkes på burger*/
    .menu li {
        opacity: 100%;
    }

    /*    synligør menuknappen(burgerbar)*/
    .menuknap {
        display: block;
        z-index: 10;
    }
}


/************* PRODUKTBILLEDER *****************/

.billeder img {
    width: 100%;
    padding: 15px;
    height: auto;
    cursor: pointer;
}

.billeder {
    display: inline-block;
}

/************** SKRIFT TIL PRODUKTBILLEDER **************/

.keramik a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
    left: 30%;
    bottom: 14vh;
    background-color: #CBB7A4;
    padding: 15px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.blog a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
    left: 37%;
    bottom: 14vh;
    background-color: #CBB7A4;
    padding: 15px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;


}

.kopper a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
    left: 30%;
    bottom: 14vh;
    background-color: #CBB7A4;
    padding: 15px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

/********** VIDEO OG TEKST **********/

.video video {
    position: relative;
    width: 100%;
    padding: 15px;
}

.tekst h2 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    top: 12px;
}

.tekst {
    padding-bottom: 70px;
}

.tekst p {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding: 25px;
    top: 8px;
}

/********* GOOGLE MAP *********/

.google {
    max-width: 800px;
    object-fit: cover;
    overflow: auto;

}

.mapskontakt {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    top: 20px;
    padding-bottom: 10px;
}

/********* GOOGLE MAP KONTAKTBOKS*********/

.kontakt {
    position: relative;
    background-color: #CBB7A4;
    /*    top: 20px;*/
    font-family: 'Montserrat', sans-serif;

}

.kontakt h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 5%;
}


.kontakt ul {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5%;
    list-style: none;
}

.social h2 {
    padding-bottom: 30px;
}

.fa {
    padding: 20px;
    font-size: 40px;
    /*    width: 30px;*/
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /*    border-radius: 50%;*/
}

.fa-facebook {
    background: #3B5998;
    color: white;
    /*    position: relative;*/
    /*    paddingt: 10px;*/

}

.fa-instagram {
    background: #f40083;
    ;
    color: white;
    /*    position: relative;*/
}

.some_wrapper a {
    width: 50px;
    height: 50px;
}



/********* MEDUE 750px CONTENT  **********/



@media (min-width: 750px) {

    .billeder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        object-fit: cover;
        width: 100%;
        padding: 25px;
        /*        height: 100vw;*/
    }

    .video video {
        position: relative;
        width: 80%;
        padding: 40px;
        left: 10%;
    }

    .tekst h2 {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        top: 12px;
        font-size: 40px;

    }

    .tekst p {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        padding-left: 200px;
        padding-right: 200px;
        top: 8px;
    }

    .kontaktinfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100%;
    }

    .mapskontakt {
        justify-content: space-around;
        max-width: 80%;
        min-height: 100%;
        /*        display: grid;*/
        /*        grid-template-columns: 1fr 1fr;*/
        margin: 0 auto;
        display: flex;
    }

    .google {
        /*        flex-basis: 600px;*/
        /*        position: absolute;*/
        object-fit: contain;
        padding: 15px;
        max-width: 100%;


    }

    .kontakt {
        position: relative;
        background-color: #CBB7A4;
        top: 15px;
        font-family: 'Montserrat', sans-serif;
        width: 40vh;
        height: 49.7vh;

    }

    .kontakt h2 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding-top: 5%;
        font-size: 25px;
        padding-top: 30px;
        color: white;


    }

    .kontakt ul {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        padding: 5%;
        list-style: none;
        color: white;
        font-size: 15px;
    }
}
