#sectionwrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;

}

img {
    width: 100%;
    height: auto;
}

h1 {
    margin: 10px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 0.9rem;
}
.semere {
    /* knap*/
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #CBB7A4;
    padding: 1px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
    width: 70%;
    margin-left: 35vw;
    margin-top: 10vw;


}

.keramik p {
    text-align: left;
    font-size: 0.8rem;
    margin: 10px;
}

.streg {
    object-fit: scale-down;
    width: 100%;
    height: auto;
}

figure {
    border: 1px solid #CBB7A4;
    padding: 20px;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.side {
    display: block;
    width: 100%;
    position: relative;
}


@media (min-width: 455px) {

    #sectionwrapper {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

.semere {
    /* knap*/
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #CBB7A4;
    padding: 1px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
    width: 70%;
    margin-left: 20vw;
    margin-top: 8vw;

}
    figure {
        padding: 10px;
        height: 90%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        grid-row: 2/3;
    }


    #side {
        text-align: center;
        /*Skal stå i midten på siden*/
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .keramik {
        width: 450px;
    }


}

@media (min-width: 660px) {
    #sectionwrapper {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .semere {
    /* knap*/
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #CBB7A4;
    padding: 1px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
    width: 70%;
    margin-left: 13vw;
    margin-top: 5vw;

}

    h2 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.7rem;
    }
}

@media (min-width: 700px) {

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.72rem;
    }
}

@media (min-width: 800px) {

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

}
